<div class="container">
    <h1 style="text-align: center;">Vantage Circle</h1>
    <div style="font-size: x-large; font-family: Arial, Helvetica, sans-serif;">
      <b>Year</b> 2023
    </div>
    <br>

    <div highlightNumber>
      Steve is 26 years old. His address is 37Street.
      <br>
      John is 25 years old.

      <h3 highlightNumber>1st Lorem Ipsum paragraph</h3>
      <p style="font-family: 'Segoe UI', Tahoma, sans-serif" highlightNumber>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
      </p>

      Today's temperature is 36 degree celcius at 47Avenue.

      <p>
        This chocolate costs 1000 rupees.
      </p>

      <h1 highlightNumber>
        H1 500 testing.
      </h1>
    </div>
  </div>  